<form id="volunteerform" class="volunteer__form" method="POST">
  <h1 class="form__heading">Become a volunteer</h1>
  <div class="form__section">
    <label for="volunteer-name">What is your full name?</label>
    <input type="text" id="volunteer-name" name="volunteer-name" />
  </div>
  <div class="form__section">
    <label for="volunteer-age">What is your age?</label>
    <input type="text" id="volunteer-age" name="volunteer-age" />
  </div>
  <div class="form__section">
    <label for="volunteer-gender">What is your gender?</label>
    <input type="text" id="volunteer-gender" name="volunteer-gender" />
    <span class="form__subtext">This question is optional, but please be aware not all fEMPOWER workshops are open to male volunteers. Male volunteers are welcome at our co-educational workshops!</span>
  </div>
  <div class="form__section">
    <label for="volunteer-reason">Why do you want to volunteer for fEMPOWER?</label>
    <textarea id="volunteer-reason" name="volunteer-reason"></textarea>
  </div>
  <div class="form__section">
    <label for="volunteer-checked">Do you have a Working With Children Check?</label>
    <select id="volunteer-checked" name="volunteer-checked">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>
  <div class="form__section">
    <label for="volunteer-wwwc-number">What is your Working With Children Check (WWCC) number?</label>
    <input type="text" id="volunteer-wwwc-number" name="volunteer-wwwc-number" />
    <span class="form__subtext">If you don't have one, just leave the field blank.</span>
  </div>
  <div class="form__section">
    <label for="volunteer-email">What is your email address?</label>
    <input type="text" id="volunteer-email" name="email" />
    <span class="form__subtext">We use this for volunteer updates and to let you know about workshops.</span>
  </div>
  <div class="form__section">
    <label for="volunteer-mobile">What is your mobile number?</label>
    <input type="text" id="volunteer-mobile" name="volunteer-mobile" />
    <span class="form__subtext">We use this for volunteer updates and to let you know about workshops.</span>
  </div>
  <input type="hidden" name="_subject" value="Website volunteer form submission" />
  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_next" value="/" />
  <input type="submit" value="Submit">
</form>
<script>
    var volunteerform =  document.getElementById('volunteerform');
    volunteerform.setAttribute('action', 'https://formspree.io/' + 'volunteers' + '@' + 'fempowerworkshops' + '.' + 'com');
</script>
