.footer {
  background-color: $fp-light-grey;
  margin: 1rem 0 0;
  padding: 0.5rem;
  text-align: center;
  color: $fp-white;
  border-top: 1px solid $fp-pink;

  @media (min-width: $breakpoint) {
    & :last-child {
      margin-right: 0;
    }
  }
}

.footer__item {
  display: block;
  margin: 0;
  font-size: 0.769rem;
  line-height: 1rem;

  @media (min-width: $breakpoint) {
    display: inline-block;
    margin-right: 1rem;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $fp-pink;
    }
  }
}
