/*
 * Variables
 */

// Spacing
$mobile-base-font-size: 16px;
$desktop-base-font-size: 20px;
$base-line-height: 1.3;
$baseline: 1rem * $base-line-height;
$breakpoint: 800px;

// Colours
$fp-pink: #cb3694;
$fp-white: #fffcfe;
$fp-black: #262626;
$fp-grey: #808080;
$fp-light-grey: #cccccc;
$fp-light-pink: #f5bae0;

// Typography
$font-stack: "Roboto", "Helvetica", sans-serif;

// Stack
$top: 3;
$middle: 2;
$bottom: 1;

/*
 * Global styles
 */
html {
  font-size: $mobile-base-font-size;

  //@media (min-width: $breakpoint) {
    //font-size: $desktop-base-font-size;
  //}
}

body {
  line-height: $base-line-height;
  font-family: $font-stack;
  font-weight: 300;
  background-color: $fp-white;
  color: $fp-black;
}

/*
 * Typography
 */
h1 {
  font-size: 2.197rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  color: $fp-grey;
  line-height: 2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $fp-black;

  &:hover {
    color: $fp-black;
  }

  &:visited {
    color: $fp-black;
  }
}
.small-text {
  font-size: 0.769rem;
  line-height: 1rem;
}

/*
 * Images
 */
figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}
