.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-wrapper {
  flex: 1;
}

.site-contents {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint) {
    margin: 0 8rem;
  }
}

.page__title {
  margin: 1rem;
}

.page__content {
  margin: 0 1rem;
  @media (min-width: $breakpoint) {
    width: 80%;
    margin: auto;
  }
}
