.media__title {
  text-transform: uppercase;
  border-bottom: 7px solid $fp-pink;
  margin: 1rem 0;
  padding-left: 1rem;

  @media (min-width: $breakpoint) {
    padding-left: 0;
  }
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.media__item {
  margin: 0 1rem 1rem;

  @media (min-width: $breakpoint) {
    flex-basis: 45%;
  }
}
