.nav {
  text-align: center;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.nav__item {
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0.5rem;

  &:hover {
    color: $fp-black;
  }
}

.nav__link {
  color: $fp-grey;
  text-decoration: none;

  &:hover {
    color: $fp-black;
  }

  &:visited {
    color: $fp-grey;
  }
}
