.nav {
  text-align: center;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.nav__item {
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.nav__link {
  text-decoration: none;
  color: $fp-grey;

  &:visited,
  &:link,
  &:active {
    color: $fp-grey;
  }

  &:hover {
    color: $fp-black;
  }
}
