.testimonials__title {
  text-transform: uppercase;
  border-bottom: 7px solid $fp-pink;
  margin: 1rem 0;
  padding-left: 1rem;

  @media (min-width: $breakpoint) {
    padding-left: 0;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -1rem;
    //& :last-child {
      //margin-right: 0;
    //}
  }
}

.testimonials__card {
  background-color: $fp-light-pink;
  padding: 1rem;
  margin: 0 1rem 1rem;
  //align-self: flex-start;
  flex: 1 1 auto;
  min-width: 25%;

  @media (min-width: $breakpoint) {
    margin: 0 1rem 1rem 0;
    max-width: 50%;
  }
}

.testimonials__quote {
  font-size: 1.3rem;
  line-height: 2rem;
}

.testimonials__attribution {
  text-weight: 700;
  text-align: right;
  margin: 0;

  &:before {
    content: "— ";
  }
}
